#navigation a {
    letter-spacing: .1em;
    text-transform: uppercase;
    transition: all .5s ease;
}

#navigation .navTitle {
    margin-right: 10px;
    margin-left: 20px;
}

#navigation .navLinks,
#navigation ul {
    padding: 0;
    height: 100%;
}

#navigation ul li  {
    padding: 25px 0;
    height: calc(100% - 50px);
}

#navigation .navMenuLink {
    position: relative; 
}

#navigation .navMenuLink .navMenu {
    opacity: 0;
    transition: opacity .5s ease;
    background-color: #000 !important;
    border-radius: 5px;
    border-style: solid;
    border-color: #888;
    border-top-color: #444;
    border-width: 1px;
    margin: 75px 0 0;
    padding: 10px;
    position: absolute;
    top: -500px;
    width: 25em;
    z-index: 100;
}

#navigation .navMenu a {
    border-radius: 0;
    float: none;
}

#navigation .navMenuLink:hover {
    padding-bottom: 40px;
}

#navigation .navMenuLink:hover a.button {
    background-color: #fff !important;
    color: #000 !important;
}

#navigation .navMenuLink:hover .navMenu {
    opacity: 1;
    top: 5px;
}

#navigation .navMenuLink:hover .navMenu a:hover {
    background-color: #fff !important;
    color: #000 !important;
}

#main .docs-content .project .version select {
    border: 0;
    cursor: pointer;
    vertical-align: top;
    width: auto;
}

/* hide the snapshot entry from the version select */
#main .docs-content .project .version select option:first-child {
    display: none;
}
