<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="io.micronaut.http" level="${IO_MICRONAUT_HTTP_LOG_LEVEL:-INFO}"/>
    <logger name="ai.stainless.micronaut.jupyter.kernel" level="${AI_STAINLESS_MICRONAUT_JUPYTER_KERNEL_LOG_LEVEL:-INFO}"/>
    <logger name="ai.stainless.micronaut.jupyter" level="${AI_STAINLESS_MICRONAUT_JUPYTER_LOG_LEVEL:-INFO}"/>
    <logger name="ai.stainless.micronaut.jupyter.kernel.MicronautCodeRunner" level="${MICRONAUT_CODE_RUNNER_LOG_LEVEL:-INFO}"/>
    <logger name="ai.stainless.micronaut.jupyter.kernel.MicronautEvaluator" level="${MICRONAUT_EVALUATOR_LOG_LEVEL:-INFO}"/>
    <logger name="com.twosigma.beakerx.jvm.threads" level="${BEAKERX_JVM_THREADS_LOG_LEVEL:-INFO}"/>
    <logger name="com.twosigma.beakerx.groovy.evaluator" level="${BEAKERX_GROOVY_EVALUATOR_LOG_LEVEL:-INFO}"/>
</configuration>
