*.bak
**/.classpath
**/.project
**/.settings/*
.vscode/*
**/bin
ext/*
!ext/.gitkeep
**/.ipynb_checkpoints/*
SIGNING_GPG_KEY
**/notebooks/tmp*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Micronaut create-app
Thumbs.db
.DS_Store
target/
out/
.idea
*.iml
*.ipr
*.iws

application-local.yml
**/.ipynb_checkpoints

*_summary.md